body {
    margin: 0px;

}

body * {
    font-family: "Roboto", sans-serif;
}

#chat-toggle-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #5480cd;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10000;
}

#chat-container {
    position: fixed;
    position: fixed;
    bottom: 30px;
    right: 100px;
    z-index: 9999;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    width: 320px;
    height: 450px;
    border-radius: 16px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 20px;
    z-index: 10000;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    overflow: hidden;
}

div#search-box>div {
    display: flex;
    gap: 8px;
    padding: 18px 12px;
}

div#search-box {
    width: 100%;
    margin: 0px auto;
    box-shadow: 0 10px 15px -3px var(--tw-shadow-color, #0000001a), 0 4px 6px -4px var(--tw-shadow-color, #0000001a);
    border-top: 1px solid #ddd;
}

#background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#search-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    border-radius: 30px;
}

.response-container{
    max-height: 400px;
    height: 286px;
    overflow-y: auto;
}

div#response {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 0px !important;
}

.exs-header-top {
    background-color: #5480cd;
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exs-header-top img {
    width: 150px;
    margin: 30px;
}

.chat-response .chat-bubble {
    background-color: #e0f0ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 80%;
}

#mic-button {
    cursor: pointer;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 18px;
    border: 0;
    background-color: transparent;
}

div#loader {
    text-align: center;
    padding: 20px 0px;
}

input#search-input:focus-visible {
    outline: none;
}